extends layout

block content
    h1= title
    p Welcome to #{title}
    main#main
        form(
            method='POST'
            action='/login'
        )
            p
                input(
                    type="text"
                    placeholder="Username"
                )
            p
                input(
                    type="text"
                    placeholder="Password"
                )
            p
                input(
                    type="submit"
                    value="Send"
                )
